services:
  web:
    container_name: django_app
    build:
      context: ./project
      dockerfile: ./Dockerfile
    volumes:
#      - ./project:/neksio
      - staticfiles:/neksio/static/
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
    ports:
      - 8000:8000
    networks:
      - shared_network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data

    networks:
      - shared_network

  db:
    image: postgres
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/postgres.conf:/etc/postgresql/postgresql.conf
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    networks:
      - shared_network


networks:
  shared_network:
    external: true
volumes:
  postgres_data:
  staticfiles:
  redis_data: